<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>My Day</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon1.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/static/assets/img/profile-img.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">My Day</a></h1>
        
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#View users" class="nav-link scrollto"><i class="bx bx-user"></i> <span>View users</span></a></li>
          <li><a href="#Feedbacks" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Feedbacks</span></a></li>
          <li><a href="/" ><i ></i> <span>logout</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Admin</h1>
      <p>My <span class="typed" data-typed-items=  "Day"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="View users" class="View users">
      <div class="container">

        <div class="section-title">
          <h2>View users</h2>
          
        </div>
        </table>   
             
             <table class="table">
              <tr>
                <th>Sl No.</th>
                    <th>FULL NAME</th>
                    <th>PLACE</th>
                    <th>PHONE</th>
                    <th>EMAILS</th>

              </tr>
              <tr>
                {% for row in data['cat']%}
                <tr>
                  <td>{{loop.index}}</td>
                        <td>{{row['fname']}}</td>
                        <td>{{row['place']}}</td>
                        <td>{{row['phone']}}</td>
                        <td>{{row['email']}}</td>

                        
                </tr>

                {%endfor%}
                
              </tr>
             </table>

        




    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Downloads</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Workers</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    

    

    <!-- ======= Services Section ======= -->
    <section id="Feedbacks" class="Feedbacks">
      <div class="container">

        <div class="section-title">
          <h2>Feedbacks</h2>
        </div>
         {% if data['reply'] %}
<!--   
    <form method="post">  
        <h1>reply</h1>
        <table class="container">  
        <tr> 
            <th>reply </th>
            <td>   
                <input type="text" placeholder="enter reply" name="reply" required> 
            </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit"  name="reply" value="reply"/>
            </td>
        </tr>
    </form> -->
       
<br>
<br>


             </table> 

             {% endif %}  
            
             <table class="table">
                <tr>
                    <th>COMPLAINT NO.</th>
                    <th>USER NAME</th>
                    <th>FEEDBACK</th>
                    <th>REPLY</th>

                </tr>
                <tr>
                    {% for row in data['comp']%}
                    <form method="post">
                    <tr>
                        <td>{{row['complaint_id']}}</td>
                        <td>{{row['fname']}}</td>
                        <td>{{row['complaint']}}</td>
                       
                        <input type="hidden" name="id" value="{{row['complaint_id']}}">
                        {% if row['reply']=='pending' %}

                         
                         <td>   <input type="text" placeholder="enter reply" name="reply" required class="form-control"> </td>
                        
           
            
                        <td colspan="2" align="center"><input type="submit"  name="reply" value="Send"></td>
                      
                      {% else %}

                      <td><td>{{row['reply']}}</td></td>
                      {% endif %}
                  </tr>
                </form>
                    {%endfor%}
                    
                
             </table>
      



      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Helps in managing my expenses.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Giving back my older memmories of writing diary.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Very nice application.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  This automatically generates my daily report accurately,This is ver usefull application.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Great application,loved it.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="/static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->










<!-- ======= Resume Section ======= -->
<!--    <section id="logout" class="logout">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          







      </div>
    </section><!-- End Resume Section -->









    

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MyDay</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/">Aabasoft</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="/static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>



  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class="flashes">
    {% for message in messages %}
    <script type="text/javascript">alert("{{message}}")</script>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</body>

</html>


