<!DOCTYPE html>   
<html>   
<head>  
<title>complaints</title>  
  
</head>    
<body> 
    {% if data['reply'] %}
  
    <form method="post">  
        <h1>reply</h1>
        <table class="container">  
        <tr> 
            <th>reply </th>
            <td>   
                <input type="text" placeholder="enter reply" name="reply" required> 
            </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit"  name="reply" value="reply"/>
            </td>
        </tr>
    </form>
       
<br>
<br>


             </table> 

             {% endif %}  
             <h3>View complaints</h3>
             <table>
                <tr>
                    <th>complaint no</th>
                    <th>user name</th>
                    <th>complaint</th>
                    <th>Reply</th>

                </tr>
                <tr>
                    {% for row in data['cat']%}
                    <tr>
                        <td>{{row['complaint_id']}}</td>
                        <td>{{row['fname']}}</td>
                        <td>{{row['complaint']}}</td>
                        <td>{{row['reply']}}</td>
                        <td><a href="?action=reply&id={{row['complaint_id']}}">reply</a></td>


                    {%endfor%}
                    
                </tr>
             </table>
                    
    
             

   
</body>     
</html>  