<!DOCTYPE html>   
<html>   
<head>  
<title> Login Page </title>  
  
</head>    
<body>    
    <center> <h1>  Login Form </h1> </center>   
    <form method="post">  
        <table class="container">  
        <tr> 
            <th>name : </th>
            <td>   
            <input type="text" placeholder="name" name="name" required> 
            </td>
            </tr>
            <tr> 
            <th>Password : </th>  
            <td> 
            <input type="password" placeholder="Enter Password" name="password" required> 
            </td>
            </tr> 
            
            
<td colspan="2" align="center"><input type="submit"  name="login" value="Submit"/>
</td>
</tr>
              
        </table>   
    </form>     
</body>     
</html>  