<!DOCTYPE html>   
<html>   
<head>  
<title>users</title>  
  
</head>    
<body> 



             </table>   
             <h3>View users</h3>
             <table>
             	<tr>
             		<th>username</th>
                    <th>father name</th>
                    <th>place</th>
                    <th>phone</th>
                    <th>email</th>

             	</tr>
             	<tr>
             		{% for row in data['cat']%}
             		<tr>
             			<td>{{row['username']}}</td>
                        <td>{{row['fname']}}</td>
                        <td>{{row['place']}}</td>
                        <td>{{row['phone']}}</td>
                        <td>{{row['email']}}</td>

                        
             		</tr>

             		{%endfor%}
             		
             	</tr>
             </table>
             		
    </form>   

   
</body>     
</html>  